<app-navbar></app-navbar>
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- ... Previous code ... -->
          <div class="filter-container">
            <h4>
              Filters
            </h4>
              <div class="collapse d-md-block" id="filterContainer">
                <ul>
                  <li
                    class="filter-dropdown"
                    onclick="toggleFilter('occasion')"
                  >
                    Occasion
                  </li>
                  <ul  *ngFor="let product of occasion">
                    <li>
                      <label>
                        <input type="checkbox" (change)="filterProducts($event)" [id]="product.oId">
                        {{product.oName}}
                      </label>
                    </li>
                  </ul>

                  <li class="filter-dropdown" onclick="toggleFilter('type')">
                    Type
                  </li>
                  <ul  *ngFor="let product of productType">
                    <li>
                      <label>
                        <input type="checkbox" (change)="filterProducts($event)" [id]="product.tId">
                        {{product.tName}}
                      </label>
                    </li>
                  </ul>
                  <li class="filter-dropdown" onclick="toggleFilter('brand')">
                    Brand
                  </li>
                  <ul  *ngFor="let product of brand">
                    <li>
                      <label>
                        <input type="checkbox" (change)="filterProducts($event)" [id]="product.bId">
                        {{product.bName}}
                      </label>
                    </li>
                  </ul>
                  <!-- Repeat similar structure for other filters -->
                  <div class="apply-button">
                    <button class="btn btn-primary" (click)="getFilterDatas()">Apply</button>
                  </div>
                </ul>
              </div>
            <!-- </form> -->
          </div>


         

          <!-- ... Rest of the code ... -->
        </div>
        <div class="col-md-9">
          <div class="product-card">
            <div class="card" *ngFor="let product of temp">
              <a routerLink="/product/{{product.pId}}"
                ><img
                  src="assets/images/{{product.pImage}}"
                  class="card-img-top"
                  alt="Product 1"
              /></a>
              <div class="card-body">
                <h5 class="card-title">{{product.pName}}</h5>
                <p class="card-text">
                  {{product.pDisc}}<br>
                  Price: &#x20B9; {{product.price}}
                </p>
                <a class="btn btn-primary" routerLink="/product/{{product.pId}}">View</a>
              </div>
            </div>
            <!-- Repeat more product cards for a total of 10 -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footers></app-footers>